In [65]:


import pandas as pd
import numpy as np

In [66]:
# Read the Datset
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding= 'latin1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

# Question1
 Given the following python code, what would the output of the code give?

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

In [67]:


my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

Answer = TypeError

TypeError: 'tuple' object does not support item assignment

# QUESTION 2 
Answer the following questions based on the African food production dataset provided by the FAO website already provided

In [ ]:


# What is the total sum of Wine produced in 2015 and 2018 respectively?

df[df["Item"] == 'Wine'].groupby("Item")[["Y2015", "Y2018"]].sum()


#         Y2015         Y2018
# Answer = 4251.81 and 4039.32

        Y2015    Y2018
Item
Wine  4251.81  4039.32

# question 3
 Given the following numpy array

In [ ]:


array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

# How would you select  the elements in bold and italics from the array?

array = np.array([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

array[:2, 1:]

# Answer = array[:2, 1:]

array([[89, 63],
       [92, 48]])

# QUESTION4 
 A pandas Dataframe with dimensions (100,3) has how many features and observations?

In [ ]:

# Answer = 3 features, 100 observations

# QUESTION 5
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’. Which of these Areas had the 7th lowest sum in 2017?

In [ ]:


df.groupby('Area')['Y2017'].sum().sort_values(ascending = True).head(7)

# Answer = Guinea-Bissau

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

# QUESTION 6
Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [ ]:

df.groupby(df[df["Element"] == "Processing"]["Element"])["Y2017"].sum()

# Answer = 292836.0

Element
Processing    292836.0
Name: Y2017, dtype: float64

# QUESTION 7
 Which year had the least correlation with ‘Element Code’?

In [ ]:

columns_needed = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Element Code']

subset = df[columns_needed]

correlation_matrix = subset.corr()

min_correlation = correlation_matrix['Element Code'].min()

min_correlation_year = correlation_matrix['Element Code'].idxmin()

print(min_correlation_year)

# Answer = Y2016

Y2016

# QUESTION 8
 Which of the following dataframe methods can be used to access elements across rows and columns?

In [ ]:

# Answer = df.iloc[ : ]

# QUESTION 9
 Consider the following list of tuples

In [ ]:


y = [(2, 4), (7, 8), (1, 5, 9)]

# How would you assign element 8 from the list to a variable x?

x = y[1][-1]
x

# Answer = x = y[1][-1]

8

# Question 10 
 What is the total Protein supply quantity in Madagascar in 2015?

In [ ]:

df[df["Area"] == "Madagascar"].groupby(df[df["Element"] == "Protein supply quantity (g/capita/day)"]["Element"])["Y2015"].sum()

#Answer = 173.05

Element
Protein supply quantity (g/capita/day)    173.05
Name: Y2015, dtype: float64

# QUESTION 11
 What would be the output for?

In [ ]:


S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

# Answer = 'e'

'e'

# Question 12
 If you have the following list

In [ ]:

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

# How do you create a pandas DataFrame using this list, to look like the table below?

# Answer =
pd.DataFrame(lst, columns = col, index = [1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

# QUESTION 13 
 What the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [ ]:

# Answer =
df['Y2017'].mean().round(2)

140.92

# Question 14 
What is the total number of unique countries in the dataset?

In [ ]:


unique_countries = df["Area"].nunique()

unique_countries

# Answer = 49

49

# Question 15. 
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  
 Which of these Areas had the highest sum in 2017?

In [ ]:


df.groupby('Area')['Y2017'].sum().sort_values(ascending=True).tail(1)

# Answer = Nigeria

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

# Question 16 
 Which of these python data structures is unorderly?

In [ ]:

# Answer = Set

# Question 17 . 
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [60]:

df.groupby("Element").sum().loc["Stock Variation"]["Y2014":].sort_values(ascending = False).head(1)

#Answer = Y2014

Y2014    58749.83
Name: Stock Variation, dtype: object

# Question 18
 How would you check for the number of rows and columns in a pandas DataFrame named df?

In [63]:
df.shape

(60943, 12)

# QUESTION 19
 Which of the following is a python inbuilt module?

In [ ]:
Math

# QUESTION 20
 What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [64]:
df["Y2014"].isnull().sum().round(2)

1589